In [1]:
import os
import sys
import datetime
import requests
import urllib.request
import json
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

sys.path.append('../')
from envir import config

In [3]:
engine = create_engine('postgresql+psycopg2:///yelp_abcs')
con = engine.connect()

In [5]:
pd.read_sql('select * from stag.ny_zipcodes', engine)

      county_name  state_fips  county_code  county_fips zip_code
0          Albany          36            1        36001    12046
1          Albany          36            1        36001    12083
2          Albany          36            1        36001    12085
3          Albany          36            1        36001    12201
4          Albany          36            1        36001    12203
5          Albany          36            1        36001    12055
6          Albany          36            1        36001    12204
7          Albany          36            1        36001    12023
8          Albany          36            1        36001    12087
9          Albany          36            1        36001    12205
10         Albany          36            1        36001    12110
11         Albany          36            1        36001    12009
12         Albany          36            1        36001    12202
13         Albany          36            1        36001    12189
14         Albany          36            1        36001    12053
15         Albany          36            1        36001    12159
16         Albany          36            1        36001    12054
17         Albany          36            1        36001    12084
18         Albany          36            1        36001    12045
19         Albany          36            1        36001    12229
20         Albany          36            1        36001    12230
21         Albany          36            1        36001    12243
22         Albany          36            1        36001    12248
23         Albany          36            1        36001    12239
24         Albany          36            1        36001    12227
25         Albany          36            1        36001    12238
26         Albany          36            1        36001    12208
27         Albany          36            1        36001    12222
28         Albany          36            1        36001    12245
29         Albany          36            1        36001    12246
...           ...         ...          ...          ...      ...
2513       Orange          36           71        36071    10985
2514       Oswego          36           75        36075    13028
2515         Erie          36           29        36029    14025
2516  Westchester          36          119        36119    10580
2517     Delaware          36           25        36025    13774
2518       Queens          36           81        36081    11451
2519     New York          36           61        36061    10101
2520       Oneida          36           65        36065    13455
2521      Steuben          36          101        36101    14885
2522       Nassau          36           59        36059    11530
2523        Kings          36           47        36047    11242
2524       Greene          36           39        36039    12192
2525      Ontario          36           69        36069    14466
2526       Orange          36           71        36071    10997
2527     Franklin          36           33        36033    12966
2528       Cayuga          36           11        36011    13117
2529         Erie          36           29        36029    14270
2530        Wayne          36          117        36117    14589
2531     Herkimer          36           43        36043    13475
2532      Wyoming          36          121        36121    14427
2533       Broome          36            7        36007    13737
2534     New York          36           61        36061    10162
2535     New York          36           61        36061    10117
2536     Delaware          36           25        36025    13847
2537     New York          36           61        36061    10131
2538     Dutchess          36           27        36027    12514
2539     New York          36           61        36061    10159
2540       Ulster          36          111        36111    12528
2541     New York          36           61        36061    10120
2542     Hamilton          36           41        36041    12032

[2543 rows x 5 columns]